* {
	box-sizing: border-box; /* Les mides inclouen 'padding', 'border' i el 'content' (no el margin) */
}

body {
	box-sizing: border-box;
	background-color: #222222;
}

header {
	background-color: #222222;
	color: #FFFFFF;
	padding: 2vw;
	width: 100%;
	height: 7vw;
	clear: both;
	text-align: center;
}

header a {
	text-decoration: none;
	color: #FFFFFF;
}

.italic {
	font-style: italic;
}

.bold {
	font-weight: bold;
	font-size: 16px;
	font-style: italic;	
}

.bolder {
	font-weight: bolder;
	font-size: 35px;
	color: #FFFFFF
}


nav {
	background-color: #333333;
	width: 100%; 
	overflow: hidden;
	text-align: left;
}

nav ul {
	float: left;
	list-style-type: none; 
	padding: 10px; 
	position: relative;
	left: 23%;
    overflow: hidden;
	margin: 0px;
}
nav li {
	display: block;
	padding: 1vw;
	margin:1vh;
	background-color: #444444;
	color: #AAAAAA;
    float: left;
	width: 16vw;
	text-align: center;
}
nav li:hover {
	background-color: #EEEEEE;
	color: #222222;
}

nav li:active {
	background-color: #555555;
	color: #AAAAAA;
	font-weight: bold;
}

content {
	width: 100%;
	clear: both; 
	display: table; 
	background-color: #111111;
	color: #CDCDCD
}

menu {
	width: 18%;
	float: left;
	padding: 1vw;
	position: relative;
	left: 5vw;
}

menu ul {
	list-style-type: none;
	margin: 0vw;
	padding: 0vw;
	width: 11vw;
	text-align: center;
}
menu li {
	padding: 1vw;
	margin-bottom: 1vw;
	background-color: #333333;
	color: #AAAAAA;
}

menu a {
	text-decoration: none;
}

menu li:hover {
	background-color: #EEEEEE;
	color: #222222;
}

menu li:active {
	background-color: #555555;
	color: #AAAAAA;
	font-weight: bold;
}

section {
	width: 82%;
	float: left;
	padding: 5vw;
	height: 100%;
}

footer {
	background-color: #222222;
	color: #FFFFFF;
	padding: 2vw;
	width: 100%;
	height: 5vw;
	clear: both;
	text-align: center;
}

